.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
}

.auth form {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth h2 {
    margin-bottom: 20px;
    color: #2ecc71;
}

.auth input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.auth button {
    width: 100%;
    background: #2ecc71;
    color: white;
}

.auth button:hover {
    background: #27ae60;
}

.auth p {
    margin-top: 15px;
    font-size: 14px;
}

.auth a {
    color: #2ecc71;
    text-decoration: none;
}



form {
    width: 380px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
}



button {
    background: #2ecc71;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #27ae60;
}
